
.container.px-2
  %div.overflow-auto.mt-3
    %h4.d-inline-block.float-start
      Top Questions
    %div.d-inline-block.float-end
      = link_to 'Ask Question', new_question_path, class: 'btn btn-primary'
  %div.mt-3
    %table.table.table-striped
      %tbody
        - @questions.each do |question|
          %tr
            %td
              = link_to question.title, question_path(question), class: 'text-decoration-none'
