%div.container
  %h3.text-center
    Forum

  .well
    = form_with url: root_path, method: :get do |form|
      = form.text_field :query
      = form.submit "Search"

    .text-right
      = link_to 'Ask Question', new_question_path, class: 'btn btn-primary'
