%div.container
  %h3.text-center
    Forum

  .well
    = form_with url: root_path, method: :get do |form|
      .input-group.mb-3
        = form.text_field :query, class: 'form-control'
        = form.submit 'Search', class: 'input-group-text'
    .text-right
      = link_to 'Ask Question', new_question_path, class: 'btn btn-primary'
